<div class="content-container" ng-controller="LicencesController">
    <ul class="breadcrumb">
        <li class="active">licences</li>
    </ul>
    <div class="card">
        <div class="toolbar">
            <h4>List of Licences</h4>
        </div>
        <br>
        <div class="content">
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <a href="#/createlicences" class="btn btn-primary pull-right" has-permission='CREATE_LICENCES'><i
                            class="fa fa-plus "></i>&nbsp;&nbsp;<button>createlicences</button></a>
                </div>
            </div>
        </div>
        <hr />
        <table class="table">
            <thead>
                <tr class="graybg">
                    <th>id</th>
                    <th>Name Of Organization</th>
                    <th>Licences Key</th>
                    <th>Date Of Submission</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="template in templates | filter:filterText">
                    <td class="pointer" data-ng-click="routeTo(licences.id)">{{licences.id}}</td>
                    <td class="pointer" data-ng-click="routeTo(licences.id)">{{licences.nameoforganization}}</td>
                    <td class="pointer" data-ng-click="routeTo(licences.id)">{{licences.licenceskey}}</td>
                    <td class="pointer" data-ng-click="routeTo(licences.id)">{{licences.dateofsubmission}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>