<div class="content-container" ng-controller="ViewLicencesController">
    <ul class="breadcrumb">
        <li><a href="#/licences">Manage Licences</a></li>
    </ul>

    <div class="card well">
        <div class="row">

            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Name:</td>
                    </tr>
                    <tr>
                        <td>Mobile No:</td>
                    </tr>
                    <tr>
                        <td>Transaction Date:</td>
                    </tr>
                    <tr>
                        <td>Amount:</td>
                    </tr>
                    <tr>
                        <td>Receipt:</td>
                    </tr>
                    <tr>
                        <td>Account No.:</td>
                    </tr>
                    <tr>
                        <td>Client Id:</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>