<div class="content-container" ng-controller="ViewLicencesController">
    <ul class="breadcrumb">
        <li><a href="#/licences">manage licences</a></li>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="graybg">
                            <th>id:</th>
                            <th>Organization:</th>
                            <th>Date of submission:</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
</div>