<div class="content-container" ng-controller="ViewLicencesController">
    <ul class="breadcrumb">
        <li><a href="#/licences">manage licences</a></li>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Licences Key:</td>
                    </tr>
                    <tr>
                        <td>Organization:</td>
                    </tr>
                    <tr>
                        <td>Date of submission:</td>
                    </tr>
                </table>
            </div>
        </div>
</div>